.data p {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 300;
}

.dataAndTimeWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 12px;
}

.clock {
  margin-left: 12px;
  height: 18px;
  width: 18px;
}
