.main {
  padding-top: 160px;
  padding-left: calc(220px + 100px);
  padding-right: 100px;
  min-height: 100vh;
  background-color: #F0F3F5;
}

.addGroupsWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 100px;
}

.addGroupsBtn {
  padding: 0;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.addGroupsBtn img {
  width: 100%;
  height: 100%;
}

.addGroupsTitle {
  font-size: 28px;
  font-weight: 600;
}

.groupAndProductWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.groupBox {
  display: flex;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 14px;
  padding: 20px 30px;
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
}

.hamburgerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.hamburgerBtn img {
  width: 28px;
  height: 28px;
}

.productQuantity {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.productQuantity span {
  display: block;
  font-size: 20px;
  color: #000;
}

.productDate {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.productDate span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.productWrapper {
  padding: 24px 32px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
}

.productTitle {
  margin-bottom: 30px;
  font-size: 20px;
}

.addProductWrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
  width: max-content;
  cursor: pointer;
}

.addProductWrapper img {
  width: 20px;
  height: 20px;
}

.addProductDes {
  font-size: 14px;
  color: #7CB342;
}

.productBox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 16px 20px;
  border: 1px solid rgba(144, 164, 174, 0.4);
  border-radius: 6px;
}

.productBoxStatus {
  height: 10px;
  width: 10px;
  background-color: #7CB342;
  border-radius: 100%;
}

.productBoxPhoto {
  margin-left: 30px;
  width: 54px;
  height: auto;
}

.productBoxTypeWrapper {
  margin-left: 30px;
}

.productBoxType {
  margin-bottom: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.productBoxTitle {
  font-size: 14px;
}

.productBoxDescWrapper {
  flex: 1.3;
  margin-left: 40px;
}

.productBoxDescSpec {
  margin-bottom: 4px;
}

.productBoxDescGuar {
  font-size: 14px;
  color: rgba(92, 92, 92, 0.8);
}

.productBoxPriceWrapper {
  flex: 1;
}

.productBoxPrice {
  margin-bottom: 4px;
  font-size: 16px;
}

.productBoxPrice span {
  color: #7CB342;
}

.productBoxNumber {
  font-size: 12px;
  color: rgba(92, 92, 92, 0.8);
}

.productBoxDelete {
  margin-left: auto;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
