.main {
  padding-top: 160px;
  padding-left: calc(220px + 100px);
  padding-right: 100px;
  min-height: 100vh;
  background-color: #F0F3F5;
  overflow-x: auto;
}

.groupAndProductWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  min-width: max-content;
  max-width: auto;
}

.productWrapper {
  padding: 24px 32px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
}

.productTitle {
  margin-bottom: 30px;
  font-size: 20px;
}

.addProductWrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
  width: max-content;
  cursor: pointer;
}

.addProductWrapper img {
  width: 20px;
  height: 20px;
}

.addProductDes {
  font-size: 14px;
  color: #7CB342;
}
