.main {
  padding-top: 160px;
  padding-left: calc(220px + 100px);
  padding-right: 100px;
  min-height: 100vh;
  background-color: #F0F3F5;
  overflow-x: auto;
}

.formsWrapper  {
  position: relative;
  top: -128px;
  left: 300px;
  display: flex;
  column-gap: 48px;
}

.formWrapper select {
  margin-left: 4px;
}
