.popUpWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(150, 150, 150, 0.5);
}

.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 50vw;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.3);
}

.closeBtn {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: -5px 5px 20px 0px rgba(111, 111, 111, 0.4);
  cursor: pointer;
}

.popUpTitle {
  margin: 24px 30px 60px;
  font-size: 16px;
}

.prodCard {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 28px 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.prodCardStatus {
  height: 10px;
  width: 10px;
  background-color: #7CB342;
  border-radius: 100%;
}

.prodCardImg {
  height: 40px;
  width: auto;
}

.prodCardDesWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-left: 40px;
}

.prodCardDes {
  font-size: 14px;
  font-weight: 600;
}

.prodCardSerNum {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.actionChoice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  padding: 0 30px;
  background-color: #7CB342;
  width: 100%;
  height: 100px;
  border-radius: 0 0 8px 8px;
}

.cancelAction {
  color: #fff;
  padding: 10px 20px;
  width: max-content;
  cursor: pointer;
}

.deleteAction {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 20px;
  width: max-content;
  background-color: #fff;
  color: #E7083A;
  border-radius: 50px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 10, 0.3);
  cursor: pointer;
}

.deleteIcon {
  width: 20px;
  height: 20px;
}