.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.logoWrapper {
  flex: 1;
}

.searchInputWrapper {
  flex: 2;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}
